<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.commerce.dao.StatisticMapper">
    <resultMap id="BaseResultMap" type="com.commerce.vo.StatisticVo">
        <constructor>
            <arg column="user_count" jdbcType="INTEGER" javaType="java.lang.Long"/>
            <arg column="product_count" jdbcType="INTEGER" javaType="java.lang.Long"/>
            <arg column="order_count" jdbcType="INTEGER" javaType="java.lang.Long"/>
        </constructor>
    </resultMap>


    <select id="getBaseCount" resultMap="BaseResultMap">
        SELECT
            (SELECT count(id)
             FROM commerce_user)    AS user_count,
            (SELECT count(id)
             FROM commerce_product) AS product_count,
            (SELECT count(id)
             FROM commerce_order)   AS order_count
    </select>

</mapper>